/* Base styles (mobile-first) */
body {
  font-family: 'bilo', sans-serif;
  margin: 0;
  padding: 0;
}

/* General container adjustments for mobile */
.om-richters-container, .fb-container, .slideshow-container, .grid-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

/* Text and background styles */
.om-richters-header, .byvandring-header, .fb-container h1, .slideshow-container h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.om-richters-wrapper, .box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px 20px;
  margin: 0 auto;
  text-align: center;
}

/* Grid and Flexbox adjustments for mobile */
.grid-container-byvandring, .grid-wrapper {
  display: grid;
  gap: 20px;
  justify-content: center;
}

/* Adjustments for background images */
.om-richters-container, .one, .two, .three {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Media Queries for responsive adjustments */
@media (min-width: 768px) { /* Tablet */
  .om-richters-container, .fb-container, .slideshow-container {
    max-width: 75%;
    padding: 0;
  }

  .grid-container-byvandring {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablet and above */
  }

  .box, .om-richters-wrapper {
    padding: 25px;
  }
}

@media (min-width: 1100px) { /* Desktop */
  .om-richters-container, .fb-container, .slideshow-container, .grid-wrapper {
    width: 800px;
    padding: 0;
  }

  .om-richters-wrapper, .box {
    padding: 25px 50px;
  }

  .grid-container-byvandring, .grid-wrapper {
    width: 800px;
    justify-content: center;
  }

  .om-richters-container, .one, .two, .three {
    background-attachment: fixed;
  }
}

/* Additional Responsive Adjustments */
@media (max-width: 1100px) {
  .om-richters-container, .grid-wrapper, .grid-container-byvandring, .fb-container, .slideshow-container {
    background-image: none;
    width: 100%;
  }

  .box p, .one, .two, .three {
    background-color: rgba(0, 0, 0, 0.6);
    height: fit-content;
  }
}

/* Enhancements for gallery images and slideshow */
.gallery-images {
  width: 100%;
  max-width: 500px; /* Adjust based on your content's needs */
  height: auto; /* Maintain aspect ratio */
}

.slideshow-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 300px) {
  .text, .numbertext {
    font-size: smaller; /* Adjust text size for very small screens */
  }
}
