body {
  font-family: bilo, sans-serif;
  font-family: "Lucida Console", "Courier New", monospace;
}

.topnav-image-wrapper {
  /*
  background: rgb(242,175,71);
  background: linear-gradient(180deg, rgba(242,175,71,1) 10%, rgba(251,249,242,1) 100%);
  padding-bottom: 75px;
  margin-bottom: 100px;
  */

 
  background: rgb(242,175,71);
  margin-bottom: 100px;
  background-image: url("/images/richters-hero-image.webp");
  background-position: center;
  width: 101%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -25px;
  z-index: 1;
}

.om-richters-container {
  margin: 0 auto;
  background-image: url("/images/om-richters-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
}


.box a {
  color: white;
}


.om-richters-wrapper {
  background-color: #fbf9f2;
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto;
  width: 800px;
  border-radius: 20px;
}



.om-richters-wrapper p {
  margin-left: 50px;
  margin-right: 50px;
  margin: 0 auto;
  padding-top: 20px;
  color: black;
  font-family: bilo, sans-serif;
}







.om-richters-title,
.byvandring-title {
  color: white;
  background-color: #d63f44;
  margin: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}

.byvandring-title {
  width: 1000px;
}

















.grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 1000px;
  margin-top: 100px;
}


.grid-container-byvandring {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  justify-content: center;
}


.content-wrapper {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: bilo, sans-serif;
  padding-bottom: 25px;
  margin-bottom: 25px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #00000060;
}

.box h2 {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-top: 30px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  font-family: bilo, sans-serif;
}

.box {
  text-align: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.one {
  grid-column: 1/1;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: left;
}

.two {
  grid-column: 2/3;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: center;
}

.three {
  grid-column: 3/3;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: right;
}










#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #fbf9f2;
  color: black;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
}

#myBtn:hover {
  opacity: 0.8;
}





















@media (max-width: 1024px) {
  .grid-wrapper {
    width: 95%;
  }

  .om-richters-wrapper p {
    margin-left: 5px;
    margin-right: 5px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {

  .om-richters-container {
    width: 80%;
  }

  .om-richters-wrapper {
    width: fit-content;
    margin: 0 auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .box {
    width: 100%;
  }

  .box p {
    padding: 5px;
  }

  .om-richters-title {
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;
  }

  .byvandring-title {
    width: 100%;
    margin: 0 auto;
  }
}



@media (max-width: 768px) {

  .topnav-image-wrapper {
    background-size: cover;
    background-attachment: local;
  }

  .om-richters-wrapper,
  .box,
  .byvandring-title
  {
    width: 80%;
    margin: 0 auto;
  }

  .om-richters-title {
    width: 100%;
  }


  .box a {
    color: black;
  }

  .om-richters-wrapper {
    border-radius: 0;
  }

  .om-richters-wrapper p {
    color: black;
    text-shadow: none;
  }

  .om-richters-container {
    background-image: none;
  }

  .content-wrapper {
    background-color: #fbf9f2;
    height: fit-content;
  }

  .om-richters-container {
    width: 100%;
  }

  .grid-wrapper {
    width: 100%;
  }

  .grid-container-byvandring {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    background-image: none;
  }

  .box p {
    height: fit-content;
    background-color: #fbf9f2;
    margin-left: 0;
    margin-right: 0;
    color: black
  }

 

  .box h2 {
    background-color: #fbf9f2;
  }

  .one {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fbf9f2;
  }

  .two {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fbf9f2;
  }

  .three {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fbf9f2;
  }
}










