body {
  font-family: bilo, sans-serif;
}

.topnav-image {
  /*
  background-color: #0e5453;
  background-color: #d63f44;
  */
 
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

.topnav-image-wrapper {
  background-image: linear-gradient(to bottom, #f2af47, #0e5453);
  padding-bottom: 25px;
}
  
.om-richters-container {
  margin: 0 auto;
  background-image: url("/images/om-richters-img.jpg");
  
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  margin-top: 100px;
}


.om-richters-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto;
  width: 800px;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
}



.om-richters-wrapper p {
  margin-left: 50px;
  margin-right: 50px;
  margin: 0 auto;
  padding-top: 20px;
  color: white;

}







.om-richters-header, .byvandring-header {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #d63f44;
  margin: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

.byvandring-header {
  width: 1000px;
}

















.grid-wrapper {
  margin-top: 175px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 1000px;
}


.grid-container-byvandring {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  justify-content: center;
}


.box p {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  height: 550px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
}



.box h2 {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
  padding-top: 20px;
}

.box  {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.one {
  grid-column: 1/1;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: left;
}

.two {
  grid-column: 2/3;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: center;
}

.three {
  grid-column: 3/3;
  grid-row: 1/1;
  background-image: url("/images/byvandring-img.jpg");
  background-attachment: fixed;
  background-position: right;
}





 










/*
.fb-container {
  margin-top: 150px;
  width: 800px;
  box-shadow: 0px 5px 10px 1px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}



.fb-container h1 {
  background-color: #d63f44;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
}
*/






@media (min-width: 1024px) {
  .grid-wrapper, .om-richters-container {
    margin-top: 200px;
  }
}





@media (max-width: 1024px) {
  .grid-wrapper {
    width: 95%;
  }
  .om-richters-wrapper p {
    margin-left: 5px;
    margin-right: 5px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {
  .om-richters-container, .fb-container {
    width: 80%;
  }
  .om-richters-wrapper {
    width: fit-content;
    margin: 0 auto;
    margin-left: 25px;
    margin-right: 25px;
  }
  .box {
    width: 100%;
  }
  .box p {
    padding: 5px;
  }

  .om-richters-header {
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;
  }
  .byvandring-header {
    width: 100%;
    margin: 0 auto;
  }
}



@media (max-width: 768px) {
  .om-richters-wrapper, .fb-container, .byvandring-header, .om-richters-header {
    width: 320px;
    margin: 0 auto;
  }
 
  .om-richters-wrapper {
    background-color: white;
  }
  .om-richters-wrapper p {
    color: black;
    text-shadow: none;
  }
  .box p {
    color: black;
  }

  .om-richters-container {
    background-image: none;
  }






  .om-richters-container {
    width: 100%; 
  }
  .grid-wrapper {
    width: 100%;
  }

  .grid-container-byvandring {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    background-image: none;
  }
  .box p {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
  }
  .one {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color:rgb(255, 255, 255)
  }
  .two {
    display: flex;
    flex-direction: column;
    background-image: none;

    background-color:rgb(255, 255, 255)
  }
  .three {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color:rgb(255, 255, 255);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
  }
}