<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/burgermenu.css">
    <link rel="stylesheet" href="/css/baseof.css">

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">

    <!--
    <script src="/js/bootstrap.min.js"></script>
    -->
   
    <script src="/js/script.js"></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(document).ready(function(){
        $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
            $(this).toggleClass('open');
        });
    });
</script>

<body>

<div class="nav-icon4" id="nav-icon4" onclick="One();">
    <span></span>
    <span></span>
    <span></span>
</div>

<!--
<img class="richters-bg" img src="/images/richters-bg.png">

<img id="bg-mobile" img src="/images/bg-mobile.png">
-->

<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>


<div class="wrapper">


<div class="topnav-container">

    <button class="contact"><a href="">Kontakt Os</button></a>
 
    <div class="topnav-logo-background">
        <h2 class="name">Richters Gård</h2>
        <img class="topnav-logo" src="/images/richters-logo.png" width="100%;"><img>
        <h2 class="anno">Anno 1644</h2>
        <h2 class="name-anno">Richters Gård Anno 1644</h2>
    </div>


    <img class="topnav-image" src="/images/richters-hero-image.jpg" width="100%;"><img>

    <div class="topnav" id="myTopnav">
    
        <div class="topnav-buttons">
          <button class="topnav-button1 hover-underline-animation"><a href="/index.html/">Hjem</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="/events/">Events</button></a>
          <button class="topnav-button3 hover-underline-animation"><a href="https://untappd.com/v/richters-olstue/6571622" target="_blank">Vores Øl</button></a>
          <button class="topnav-button4 hover-underline-animation"><a href="/menu/">Menukort</button></a>
          <button class="topnav-button5 hover-underline-animation"><a href="/contact/">Kontakt</button></a>
        </div>
    </div>
</div>

<main class="site-main">
    {{ block "main" . }}{{ end }}
</main>

<div class="push"></div>

</div>

<footer>
    <div class="footer">

            <center>
            <div class="control-report">
                <img class="smiley" src="/images/smiley.png" style="margin-right: 2px;">
                <a href="https://www.findsmiley.dk/Sider/KontrolRapport.aspx?Virk1811370" target="_blank" style="margin-left: 2px;"><text class="control-report-text">Kontrolrapport</text></a>
            </div>
            </center>

            <style>
                .control-report {
                background-color: #fefee2;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                box-shadow: inset 0px -5px 5px 0px rgb(0, 0, 0);
                }
            </style>
  
        <div class="mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">Richters@youmail.dk</text>
            <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
        </div>
  
        <div class="copyright-container">
            <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
            <text class="footer-btn2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
        </div>
  
        <div class="some-container">
            <a href="https://www.facebook.com/oelstue" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
            <a href="https://www.instagram.com/richters_oelstue/?hl=da" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
        </div>
    </div>
</footer>
</body>


<script>
    $(window).resize(function () {
        var viewportWidth = $(window).width();
        if (viewportWidth < 1100) {
        $(".topnav").removeClass("fixed");
        }
    });
</script>
  
<script>
    $(window).scroll(function(){
        if($(window).width() > 1100) {
        if($(window).scrollTop() >150) {
        $('.topnav').addClass("fixed");
        }
        else{
        $('.topnav').removeClass("fixed");
        }
        }
    });
</script>

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>
    

</html>