<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta lang="dk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" alt="Richters Ølstue Favicon">

    <meta property="og:title" content="Richters Ølstue | Historisk Ølstue i Køge's Gamle Bydel">
    <meta property="og:description"
        content="Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. Vi er for dem der trænger til en kvalitetsøl oplevelse i historiske, intime, lyse og hyggelige rammer. Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl. Her er tid til kvalitet, nydelse og fordybelse.">
    <meta property="og:url" content="http://www.richtersoelstue.dk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://richtersoelstue.dk/images/richters-hero-image.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RichtersOelstue">
    <meta name="twitter:title" content="Richters Ølstue | Historisk Ølstue i Køge's Gamle Bydel">
    <meta name="twitter:description"
        content="Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. Vi er for dem der trænger til en kvalitetsøl oplevelse i historiske, intime, lyse og hyggelige rammer. Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl. Her er tid til kvalitet, nydelse og fordybelse.">
    <meta property="og:url" content="http://www.richtersoelstue.dk">
    <meta name="twitter:image" content="https://richtersoelstue.dk/images/richters-hero-image.jpg">
    
    <link rel="stylesheet" href="/css/burgermenu.css">
    <link rel="stylesheet" href="/css/baseof.css">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/purecookie.css" async />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
   

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">

    <link rel="stylesheet" type="text/css" href="/css/purecookie.css" async />
    <script src="/js/purecookie.js" async></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(document).ready(function () {
        $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function () {
            $(this).toggleClass('open');
        });
    });
</script>

<body>


    <div class="nav-icon4" id="nav-icon4" onclick="topnavResponsive();">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!--
<img class="richters-bg" img src="/images/richters-bg.png">

<img id="bg-mobile" img src="/images/bg-mobile.png">
-->

    <div class="header">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>


    <div class="topnav-wrapper">


        <div class="topnav-container">

            <div class="topnav-logo-background">
                <h2 class="name">Richters Gård</h2>
                <a href="/">
                    <img class="topnav-logo" src="/images/richters-logo.png" alt="Richters Ølstue Logo">
                </a>                
                <h2 class="anno">Anno 1644</h2>
                <h2 class="name-anno">Richters Gård Anno 1644</h2>
            </div>



            <div class="topnav" id="myTopnav">

                <ul class="topnav-buttons">
                    <button class="topnav-button1 hover-underline-animation"><a href="/index.html/">Hjem</button></a>
                    <button class="topnav-button2 hover-underline-animation"><a href="/events/">Events</button></a>
                    <button class="topnav-button3 hover-underline-animation"><a
                            href="https://untappd.com/v/richters-olstue/6571622" target="_blank">Vores Øl</button></a>
                    <button class="topnav-button4 hover-underline-animation"><a href="/menu/">Menukort</button></a>
                    <button class="topnav-button5 hover-underline-animation"><a href="/kontakt/">Kontakt</button></a>
                </ul>
            </div>
        </div>

        <main class="site-main">
            {{ block "main" . }}{{ end }}
        </main>

        <div class="push"></div>

    </div>

    <footer>
        <div class="footer">

            <center>
                <div class="control-report">
                    <img class="smiley" src="/images/smiley.png" alt="kontrolrapport smiley" style="margin-right: 2px;">
                    <a href="https://www.findsmiley.dk/Sider/KontrolRapport.aspx?Virk5667539" target="_blank" style="margin-left: 2px; color: black;"><text class="control-report-text">Kontrolrapport</text></a>
                </div>
            </center>


            <div class="mail-container">
                <text class="footer-btn1" style="padding: 0; margin-right: 10px;">richters@youmail.dk</text>
                <a href="mailto:richters@youmail.dk" aria-label="Send en mail til Richters"><i class="fa-solid fa-envelope fa-2x"
                        style="color: white;"></i></a>
            </div>

            <div class="copyright-container">
                <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
                <text class="footer-btn2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
            </div>

            <div class="some-container">
                <a href="https://www.facebook.com/oelstue" target="_blank" aria-label="Richters Facebook side"><img src="/images/facebook.png"
                        class="social-icon" alt="Facebook Icon"></a>
                <a href="https://www.instagram.com/richters_oelstue/?hl=da" target="_blank" aria-label="Richters Instagram side"><img
                        src="/images/instagram.png" class="social-icon" alt="Instagram Icon"></a>
            </div>
        </div>
    </footer>
</body>


<script>
    $(window).resize(function () {
        var viewportWidth = $(window).width();
        if (viewportWidth < 1100) {
            $(".topnav").removeClass("fixed");
        }
    });
</script>

<script>
    $(window).scroll(function () {
        if ($(window).width() > 1100) {
            if ($(window).scrollTop() > 150) {
                $('.topnav').addClass("fixed");
            }
            else {
                $('.topnav').removeClass("fixed");
            }
        }
    });
</script>


</html>