<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/baseof.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/contact.css">

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">

    <!--
    <script src="/js/bootstrap.min.js"></script>
    -->
   
    <script src="/js/script.js"></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(function() {$("#myIcon").click(function() {
        $('.rotate').toggleClass("down");
        });
    });
</script>

<body>

<img id="richters-bg" img src="/images/richters-bg.png">

<img id="bg-mobile" img src="/images/bg-mobile.png">

<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>


<div class="wrapper">


<div class="topnav-container">

    <button class="contact"><a href="">Kontakt Os</button></a>
 
        <div class="topnav-logo-background">
            <h2 class="since">Richters Gård</h2>
            <img class="topnav-logo" src="/images/richters-logo.png" width="100%;"><img>
            <h2 class="year">Anno 1644</h2>
        </div>


    <img class="topnav-image" src="/images/richters-hero-image.jpg" width="100%;"><img>

    <div class="topnav" id="myTopnav">
    
        <div class="topnav-buttons">
          <button class="topnav-button1 hover-underline-animation"><a href="/index.html/">Hjem</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="/events/">Events</button></a>
          <button class="topnav-button3 hover-underline-animation"><a href="https://untappd.com/v/richters-olstue/6571622" target="_blank">Vores Øl</button></a>
          <button class="topnav-button4 hover-underline-animation"><a href="/menu/">Menukort</button></a>
          <button class="topnav-button5 hover-underline-animation"><a href="/contact/">Kontakt</button></a>
        </div>
    </div>

    <!--
    <a href="javascript:void(0);" class="icon rotate" id="myIcon" onclick="One();">
    <i class="fa fa-window-close fa-2x" aria-hidden="true"></i></a>  
    -->
    
    <a href="javascript:void(0);" class="icon rotate" id="myIcon" onclick="One();">
    <i class="fa fa-bars fa-2x"></i></a>
    
</div>

<main class="site-main">
    {{ block "main" . }}{{ end }}
</main>

<div class="push"></div>

</div>

<footer>
    <div class="footer">
  
        <div class="mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">Richters@youmail.dk</text>
            <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
        </div>
  
        <div class="copyright-container">
            <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
            <text class="footer-btn2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
        </div>
  
        <div class="some-container">
            <a href="https://www.facebook.com/stationspladsen" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
            <a href="https://www.instagram.com/cafestationspladsen/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
        </div>
    </div>
</footer>
</body>


<script>
    $(window).resize(function () {
        var viewportWidth = $(window).width();
        if (viewportWidth < 1300) {
        $(".topnav").removeClass("fixed");
        }
    });
</script>
  
<script>
    $(window).scroll(function(){
        if($(window).width() > 1300) {
        if($(window).scrollTop() >150) {
        $('.topnav').addClass("fixed");
        }
        else{
        $('.topnav').removeClass("fixed");
        }
        }
    });
</script>

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>
    

</html>