

{{ define "main" }}

<head>
<link href="/css/contact.css" rel="stylesheet"></link>
</head>

<center><h1 class="contact-header">Kontakt Os</h1></center>


<div class="contact-grid">

    
    <div class="åbningstider-container">
        <h2>ÅBENT</h2>
        <div class="line"></div>
        <h2>
        Mandag: <br> 11:00 - 19:00  <br><br>
        </h2>
       
        <div class="line"></div>
        <h2>
        Tirsdag:<br> 11:00 - 19:00 <br><br>
        </h2>
        
        <div class="line"></div>
        <h2>
        Onsdag: <br>11:00 - 19:00 <br><br>
        </h2>
       
        <div class="line"></div>
        <h2>
        Torsdag: <br>11:00 - 19:00 <br><br>
        </h2>
    
        <div class="line"></div>
        <h2>
        Fredag:<br> 11:00 - 23:00 <br><br>
        </h2>
    </div>

    <div class="contact-info-container">
        <div class="info-mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">Richters@youmail.dk</text>
             <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
        </div>

        <div class="info-location-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">Vestergade 16F, Køge</text>
            <i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color: white;"></i>
        </div>
    </div>
    

    <div class="form-wrapper">
        <form name="contact" action="/pages/success" method="POST" data-netlify="true">
            <p>
            <label>Dit navn: 
                <input type="text" name="name" class="form-stack"/>
            </label>
            </p>
            <p>
            <label>Din e-mail: 
                <input type="email" name="email" class="form-stack"/>
            </label>
            </p>
            <p>
            <label>Din besked: 
                <textarea name="message" class="form-stack"></textarea>
            </label>
            </p>
            <p>
            <button type="submit">Send</button>
            </p>
        </form>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2262.313150770133!2d12.176781715919105!3d55.45720738047528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652f1ac9d2afe05%3A0xf00212061f4fea89!2sRICHTERs%20%C3%98lstue!5e0!3m2!1sda!2sdk!4v1673752084650!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{{ end }}
