<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta lang="dk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Richters Ølstue | Historisk Ølstue i Køge's Gamle Bydel</title>
    <meta name="description"
        content="Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. Vi er for dem der trænger til en kvalitetsøl oplevelse i historiske, intime, lyse og hyggelige rammer. Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl. Her er tid til kvalitet, nydelse og fordybelse.">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" alt="Richters Ølstue Favicon">

    <meta property="og:title" content="Richters Ølstue | Historisk Ølstue i Køge's Gamle Bydel">
    <meta property="og:description"
        content="Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. Vi er for dem der trænger til en kvalitetsøl oplevelse i historiske, intime, lyse og hyggelige rammer. Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl. Her er tid til kvalitet, nydelse og fordybelse.">
    <meta property="og:url" content="http://www.richtersoelstue.dk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://richtersoelstue.dk/images/richters-hero-image.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RichtersOelstue">
    <meta name="twitter:title" content="Richters Ølstue | Historisk Ølstue i Køge's Gamle Bydel">
    <meta name="twitter:description"
        content="Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. Vi er for dem der trænger til en kvalitetsøl oplevelse i historiske, intime, lyse og hyggelige rammer. Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl. Her er tid til kvalitet, nydelse og fordybelse.">
    <meta property="og:url" content="http://www.richtersoelstue.dk">
    <meta name="twitter:image" content="https://richtersoelstue.dk/images/richters-hero-image.jpg">

    <script src="/js/script.js"></script>
    
    <link rel="stylesheet" href="/css/burgermenu.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/purecookie.css" async />
    <link rel="stylesheet" href="/css/headerfooter.css">

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">
    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(document).ready(function () {
        $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function () {
            $(this).toggleClass('open');
        });
    });
</script>

<body>

    <div class="nav-icon4" id="nav-icon4" onclick="topnavResponsive();">
        <span></span>
        <span></span>
        <span></span>
    </div>



    <div class="header">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>


    <div class="topnav-wrapper">


        <div class="topnav-container">

            <button class="contact"><a href="/kontakt/">Kontakt Os</button></a>


            <div class="topnav-logo-background">
                <h2 class="name">Richters Gård</h2>
                <a href="/">
                    <img class="topnav-logo" src="/images/richters-logo.png" alt="Richters Ølstue Logo">
                </a>
                <h2 class="anno">Anno 1644</h2>
                <h2 class="name-anno">Richters Gård Anno 1644</h2>
            </div>

            <div class="topnav-image-wrapper">
                <img class="topnav-image" src="/images/richters-hero-image.webp" alt="Richters Ølstue Facade"
                    width="100%;">
            </div>

            <div class="topnav" id="myTopnav">

                <ul class="topnav-buttons">
                    <button class="topnav-button1 hover-underline-animation btn-active"><a
                            href="/index.html/">Hjem</button></a>
                    <button class="topnav-button2 hover-underline-animation"><a href="/events/">Events</button></a>
                    <button class="topnav-button3 hover-underline-animation"><a
                            href="https://untappd.com/v/richters-olstue/6571622" target="_blank">Vores Øl</button></a>
                    <button class="topnav-button4 hover-underline-animation"><a href="/menu/">Menukort</button></a>
                    <button class="topnav-button5 hover-underline-animation"><a href="/kontakt/">Kontakt</button></a>
                </ul>
            </div>
        </div>


        <main class="site-main">

            <div class="grid-wrapper">
                <h1 class="byvandring-title">Byvandring</h1>
                <div class="grid-container-byvandring">

                    <div class="box one">
                        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
                            <h2>Booking</h2>
                            <p>
                                <br>Book jeres helt egen private byvandring – min. 10 personer a 100 kr. (færre kan gøre
                                det, men mindste prisen er 1000 kr.)<br><br>
                            </p>
                        </div>
                    </div>

                    <div class="box two">
                        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
                            <h2>Turen</h2>
                            <p>
                                <br>På vores ture besøger man den gamle Apotekerkælder, der er byens største og flottest
                                bevarede kælder. Vi er de eneste, der kan tilbyde besøg i denne fredede store flotte
                                unikke middelalderkælder (vi besøger normalt også et par baggårde i nogle fredede
                                ejendomme, hvor der ikke er offentlig adgang). Vores ture er udover en masse historik om
                                de gamle huse også med farverige historier om gamle familier, bysbørn, politik mm.
                                <br><br> Varighed ca. 1,5t
                                <br><br>
                            </p>
                        </div>
                    </div>

                    <div class="box three">
                        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
                            <h2>Drikkevarer</h2>
                            <p>
                                <br>
                                Inkluderet i prisen er en bitter samt en husøl (eller vand) på RICHTERs Ølstue, hvor
                                alle turene starter og slutter (også her fås lidt historie om den fredede ejendom fra
                                1644)
                                <br><br>
                                Vi kan kontaktes på mail RICHTERS@YOUMAIL.DK<br><br>
                            </p>
                        </div>
                    </div>

                </div>
            </div>






            <div class="om-richters-container">
                <br>
                <div class="om-richters-wrapper">
                    <h1 class="om-richters-title">Om Richters</h1>
                    <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
                        <p>
                            Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne.
                            <br><br> Vi er for dem der trænger til en god øl oplevelse i historiske, intime, lyse og
                            hyggelige rammer. <br> Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore
                            mange specialøl.<br><br> Ølbar i 2 etager! - I 2021 har vi ydermere åbnet vores førstesal og
                            tilbyder nu endnu flere hyggelige siddepladser. <br><br>
                            Hos os er øllet i fokus. Vi har et af byens største udvalg af special øl. Pt. 11 fadølshaner
                            hvor udbuddet løbende varieres samt over 100 forskellige flaske øl. <br> Vi fører bl.a.
                            rigtigt mange belgiske kvalitetsøl (heriblandt alle trappist øllene) eller nyd vore egne
                            lokalt bryggede øl, der ikke fås andre steder i hele kongeriget. <br><br> Herudover egen
                            importeret vin, sodavand, drinks, kaffe, te, snack, toasts samt lettere anretninger (f.eks.
                            oste, paté eller italiensk charcuteri tallerken. <br><br>Vi laver desuden også smørrebrød på
                            bagerens "hjemmelavede" rugbrød).
                        </p>
                    </div>
                </div>


                <br>
            </div>


            <div class="slideshow-container">

                <h1>Galleri</h1>

                <div class="slideshow-wrapper">

                    <div class="mySlides fade">
                        <img class="gallery-images" src="/images/gallery-img1.jpg"
                                alt="Fremvisning af en vores mange hyggelige ølstuer">
                    </div>

                    <div class="mySlides fade">
                        <img class="gallery-images" src="/images/gallery-img2.jpg"
                                alt="Bord med en masse serveringer af vores lækre italianske antipasti">
                    </div>

                    <div class="mySlides fade">
                        ><img class="gallery-images" src="/images/gallery-img3.jpg"
                                alt="Fotocollage fra ølstuen">
                    </div>

                    <div class="mySlides fade">
                        <img class="gallery-images" src="/images/gallery-img4.jpg"
                                alt="Tallerkener med vores frisksmurte smørrebrød">
                    </div>

                    <div class="mySlides fade">
                        <img class="gallery-images" src="/images/gallery-img5.jpg"
                                alt="Vores varme og lyse udestue">
                    </div>

                    <div class="mySlides fade">
                        <img class="gallery-images" src="/images/gallery-img6.jpg" alt="Undendørs spisning">
                    </div>

                    <br>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>




        </main>

        <div class="push"></div>

    </div>

    <footer>
        <div class="footer">

    
            <div class="control-report">
                <img class="smiley" src="/images/smiley.png" alt="kontrolrapport smiley" style="margin-right: 2px;">
                <a href="https://www.findsmiley.dk/Sider/KontrolRapport.aspx?Virk5667539" target="_blank" style="margin-left: 2px; color: black;"><text class="control-report-text">Kontrolrapport</text></a>
            </div>


            <div class="mail-container">
                <text class="footer-text" style="padding: 0; margin-right: 10px;">richters@youmail.dk</text>
                <a href="mailto:richters@youmail.dk" aria-label="Send en mail til Richters"><i class="fa-solid fa-envelope fa-2x"
                        style="color: white;"></i></a>
            </div>

            <div class="copyright-container">
                <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
                <text class="footer-text2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
            </div>

            <div class="some-container">
                <a href="https://www.facebook.com/oelstue" target="_blank" aria-label="Richters Facebook side"><img src="/images/facebook.png"
                        class="social-icon" alt="Facebook Icon"></a>
                <a href="https://www.instagram.com/richters_oelstue/?hl=da" target="_blank" aria-label="Richters Instagram side"><img
                        src="/images/instagram.png" class="social-icon" alt="Instagram Icon"></a>
            </div>
        </div>
    </footer>
</body>


<script>
    $(document).ready(function () {
        let classAdded = false;

        // Function to check and apply the fixed class based on conditions
        function checkAndApplyFixedClass() {
            let viewportHeight = window.innerHeight * 0.8;
            let viewportWidth = $(window).width();

            // Adjust the condition to check if the viewport is wider than 1100px
            if (viewportWidth > 1100) {
                if ($(window).scrollTop() > viewportHeight && !classAdded) {
                    $('.topnav').addClass("fixed");
                    classAdded = true;
                } else if ($(window).scrollTop() <= viewportHeight && classAdded) {
                    $('.topnav').removeClass("fixed");
                    classAdded = false;
                }
            } else {
                // Ensure the class is removed when the viewport is narrower than 1100px
                if (classAdded) {
                    $('.topnav').removeClass("fixed");
                    classAdded = false;
                }
            }
        }

        // Listen for scroll events
        $(window).scroll(checkAndApplyFixedClass);

        // Listen for resize events
        $(window).resize(function () {
            // Call the function on resize to re-evaluate the need for the "fixed" class
            checkAndApplyFixedClass();
        });
    });
</script>


<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>


</html>