<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Richters Ølstue</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"/>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/burgermenu.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">

    <!--
    <script src="/js/bootstrap.min.js"></script>
    -->
   
    <script src="/js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/purecookie.css" async />
    <script src="/js/purecookie.js" async></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(document).ready(function(){
        $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
            $(this).toggleClass('open');
        });
    });
</script>

<body>

<div class="nav-icon4" id="nav-icon4" onclick="topnavResponsive();">
    <span></span>
    <span></span>
    <span></span>
</div>



<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>


<div class="wrapper">


<div class="topnav-container">

    <!--
    <img class="richters-bg" img src="/images/richters-bg.png">

    <img id="bg-mobile" img src="/images/bg-mobile.png">
    -->

    <button class="contact"><a href="/contact/">Kontakt Os</button></a>

   
    <div class="topnav-logo-background">
        <h2 class="name">Richters Gård</h2>
        <img class="topnav-logo" src="/images/richters-logo.png" width="100%;"><img>
        <h2 class="anno">Anno 1644</h2>
        <h2 class="name-anno">Richters Gård Anno 1644</h2>
    </div>
    
    <img class="topnav-image" src="/images/richters-hero-image.jpg" width="100%;"><img>

    <div class="topnav" id="myTopnav">
    
        <ul class="topnav-buttons">
          <button class="topnav-button1 hover-underline-animation btn-active"><a href="/index.html/">Hjem</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="/events/">Events</button></a>
          <button class="topnav-button3 hover-underline-animation"><a href="https://untappd.com/v/richters-olstue/6571622" target="_blank">Vores Øl</button></a>
          <button class="topnav-button4 hover-underline-animation"><a href="/menu/">Menukort</button></a>
          <button class="topnav-button5 hover-underline-animation"><a href="/contact/">Kontakt</button></a>
        </ul>
    </div> 
</div>


<main class="site-main">


<div class="om-richters-container">
    <div class="fixed-background"></div>
    <br>
    <h1 class="om-richters-header">Om Richters</h1>
   
    <div class="om-richters-wrapper">

        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
            <p style="color: white;">
                Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. <br><br> Vi er for dem der trænger til en god øl oplevelse i historiske, intime, lyse og hyggelige rammer. <br> Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl.<br><br> Ølbar i 2 etager! - I 2021 har vi ydermere åbnet vores førstesal og tilbyder nu endnu flere hyggelige siddepladser. <br><br>
                Hos os er øllet i fokus. Vi har et af byens største udvalg af special øl. Pt. 11 fadølshaner hvor udbuddet løbende varieres samt over 100 forskellige flaske øl. <br> Vi fører bl.a. rigtigt mange belgiske kvalitetsøl (heriblandt alle trappist øllene) eller nyd vore egne lokalt bryggede øl, der ikke fås andre steder i hele kongeriget. <br><br> Herudover egen importeret vin, sodavand, drinks, kaffe, te, snack, toasts samt lettere anretninger (f.eks. oste, paté eller italiensk charcuteri tallerken. <br><br>Vi laver desuden også smørrebrød på bagerens "hjemmelavede" rugbrød).
            </p> 
        </div>
    </div>
 
    <br>
</div>





<div class="grid-wrapper">
<h1 class="byvandring-header">Byvandring</h1>
<div class="grid-container-byvandring">
    
    <div class="box one">
        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
            <h2>Booking</h2>
            <p>
                <br>Book jeres helt egen private byvandring – min. 10 personer a 100 kr. (færre kan gøre det, men mindste prisen er 1000 kr.)<br><br>
            </p>
        </div>
    </div>
   
    <div class="box two">
        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
            <h2>Turen</h2>
            <p>
                <br>På vores ture besøger man den gamle Apotekerkælder, der er byens største og flottest bevarede kælder. Vi er de eneste, der kan tilbyde besøg i denne fredede store flotte unikke middelalderkælder (vi besøger normalt også et par baggårde i nogle fredede ejendomme, hvor der ikke er offentlig adgang). Vores ture er udover en masse historik om de gamle huse også med farverige historier om gamle familier, bysbørn, politik mm. <br><br> Varighed ca. 1,5t
                <br><br>
            </p>
        </div>
    </div>
   
    <div class="box three">
        <div class="container reveal fade-bottom" style="background-color: rgba(0, 0, 0, 0);">
            <h2>Drikkevarer</h2>
            <p>
                <br>
                Inkluderet i prisen er en bitter samt en husøl (eller vand) på RICHTERs Ølstue, hvor alle turene starter og slutter (også her fås lidt historie om den fredede ejendom fra 1644)
                <br><br>
                Vi kan kontaktes på mail RICHTERS@YOUMAIL.DK<br><br>
            </p>
        </div>
    </div>  
 
</div>
</div>



<div class="fb-container">
    <h1>Nyheder</h1>
    <center>
    <div class="fb-like-box" data-href="http://www.facebook.com/oelstue" data-width="600px" data-height="600px" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
    </center>
</div>


<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--
<center>
<div class="nyheder-container">
    <center><h1>Side-nyheder</h1></center>
    <div class="posts-container">
        <section class="posts-list">
            
            {{ $paginator := .Paginate (where (where .Site.Pages "Section" "nyheder") "IsPage" true) }}
            {{ range $paginator.Pages }}
           
            <article class="single-post border-bottom pb-4">
                <h2 class="entry-title mb-4">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>

                <div class="post-meta mb-4">
                    <span class="post-author"> Slået op af: {{ .Params.author }} |</span>
                    <span class="post-date">
                        <time>{{ dateFormat .Site.Params.dateFormat .Date }} |</time>
                    </span>
              
                    <br><br>

                <div class="entry-content">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .RelPermalink }}">Læs mere...</a>
                    {{ end }}
                </div>
            </article>
            {{ end }}
            <div class="pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
        </section>
    </div>
</div>
</center>
-->


<div class="slideshow-container">
    
    <h1>Galleri</h1>

    <div class="slideshow-wrapper">

        <div class="mySlides fade">
            <!--
            <div class="numbertext">1 / 3</div>
            -->
            <center><img class="gallery-images" src="/images/gallery-img1.jpg"></center>
            <!--<div class="text">Caption Text</div>-->
        </div>
        
        <div class="mySlides fade">
            <!--
            <div class="numbertext">2 / 3</div>
            -->
            <center><img class="gallery-images" src="/images/gallery-img2.jpg"></center>
            <!--<div class="text">Caption Text</div>-->
        </div>
        
        <div class="mySlides fade">
            <!--
            <div class="numbertext">3 / 3</div>
            -->
            <center><img class="gallery-images" src="/images/gallery-img3.jpg"></center>
           <!--<div class="text">Caption Text</div>-->
        </div>

        <div class="mySlides fade">
            <center><img class="gallery-images" src="/images/gallery-img4.jpg"></center>
        </div>

        <div class="mySlides fade">
            <center><img class="gallery-images" src="/images/gallery-img5.jpg"></center>
        </div>

        <div class="mySlides fade">
            <center><img class="gallery-images" src="/images/gallery-img6.jpg"></center>
        </div>

        
        <br>
        
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span>
            <span class="dot"></span>  
            <span class="dot"></span>
            <span class="dot"></span>  
        </div>
    </div>
</div>


<!--
<div class="åbningstider-container">
    <h1>Åbningstider</h1>
    <h2>
    Mandag: <br> 11:00 - 19:00  <br><br>
    Tirsdag:<br> 11:00 - 19:00 <br><br>
    Onsdag: <br>11:00 - 19:00 <br><br>
    Torsdag: <br>11:00 - 19:00 <br><br>
    Fredag:<br> 11:00 - 23:00 <br><br>
  </h2>
</div>
-->



</main>

<div class="push"></div>

</div>

<footer>
    <div class="footer">

        <center>
        <div class="control-report">
            <img class="smiley" src="/images/smiley.png" style="margin-right: 2px;">
            <a href="https://www.findsmiley.dk/Sider/KontrolRapport.aspx?Virk1811370" target="_blank" style="margin-left: 2px;"><text class="control-report-text">Kontrolrapport</text></a>
        </div>
        </center>
            

        <div class="mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">richters@youmail.dk</text>
            <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
        </div>
  
        <div class="copyright-container">
            <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
            <text class="footer-btn2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
        </div>
  
        <div class="some-container">
            <a href="https://www.facebook.com/oelstue" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
            <a href="https://www.instagram.com/richters_oelstue/?hl=da" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
        </div>
    </div>
</footer>
</body>


<script>
    $(window).resize(function () {
        var viewportWidth = $(window).width();
        if (viewportWidth < 1100) {
        $(".topnav").removeClass("fixed");
        }
    });
</script>

<!--
<script>

let viewportHeight = window.innerHeight * 0.9;
let viewportWidth = window.innerWidth;

    $(window).scroll(function(){
        if($(window).width() > 1300) {
        if($(window).scrollTop()>viewportHeight) {
        $('.topnav').addClass("fixed");
        }
        else{
        $('.topnav').removeClass("fixed");
        }
        }
    });
</script>
-->

<!--
<script>
setInterval(function(){
    let viewportHeight = window.innerHeight * 0.8;
    let viewportWidth = window.innerWidth;

    $(window).scroll(function(){
        if($(window).width() > 1300) {
        if($(window).scrollTop()>viewportHeight) {
        $('.topnav').addClass("fixed");
        }
        else{
        $('.topnav').removeClass("fixed");
        }
        }
    });
}, 1000);
</script>
-->

<script>
let classAdded = false;
setInterval(function(){
    let viewportHeight = window.innerHeight * 0.8;
    let viewportWidth = window.innerWidth;
    $(window).scroll(function(){
        if($(window).width() > 1100) {
        if($(window).scrollTop()>viewportHeight && !classAdded) {
        $('.topnav').addClass("fixed");
        classAdded = true;
        }
        else if($(window).scrollTop()<=viewportHeight && classAdded){
        $('.topnav').removeClass("fixed");
        classAdded = false;
        }
        }
    });
}, 1000);
</script>

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>
    

</html>