<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Richters Ølstue</title>

    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="https://use.typekit.net/yce8sxy.css">

    <!--
    <script src="/js/bootstrap.min.js"></script>
    -->
   
    <script src="/js/script.js"></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script>
    $(function() {$("#myIcon").click(function() {
        $('.rotate').toggleClass("down");
        });
    });
</script>

<body>

<img id="richters-bg" img src="/images/richters-bg.png">

<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>


<div class="wrapper">


<div class="topnav-container">

    <button class="contact"><a href="">Kontakt Os</button></a>
 
        <div class="topnav-logo-background">
            <h2 class="since">Richters Gård</h2>
            <img class="topnav-logo" src="/images/richters-logo.png" width="100%;"><img>
            <h2 class="year">Anno 1644</h2>
        </div>


    <img class="topnav-image" src="/images/richters-hero-image.jpg" width="100%;"><img>

    <div class="topnav" id="myTopnav">
    
        <div class="topnav-buttons">
          <button class="topnav-button1 hover-underline-animation btn-active"><a href="/index.html/">Hjem</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="">Events</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="">Vores Øl</button></a>
          <button class="topnav-button4 hover-underline-animation"><a href="/menukort.html">Menukort</button></a>
          <button class="topnav-button2 hover-underline-animation"><a href="">Kontakt</button></a>
        </div>
    </div>

    <!--
    <a href="javascript:void(0);" class="icon rotate" id="myIcon" onclick="One();">
    <i class="fa fa-window-close fa-2x" aria-hidden="true"></i></a>  
    -->
    
    <a href="javascript:void(0);" class="icon rotate" id="myIcon" onclick="One();">
    <i class="fa fa-bars fa-2x"></i></a>
    
</div>

<main class="site-main">

<div class="om-richters-container">
    <br>
    <center><h1 class="om-richters-header">Om Richters</h1></center>
    <div class="om-richters-wrapper">
        <p style="color: white;">
            Richters Ølstue er en hyggelig oase i hjertet af det gamle Køges historiske bykerne. <br><br> Vi er for dem der trænger til en god øl oplevelse i historiske, intime, lyse og hyggelige rammer. <br> Vi har masser af siddepladser, hvor du i ro og mag kan nyde vore mange specialøl.<br><br> Ølbar i 2 etager! - I 2021 har vi ydermere åbnet vores førstesal og tilbyder nu endnu flere hyggelige siddepladser. <br><br>
            Hos os er øllet i fokus. Vi har et af byens største udvalg af special øl. Pt. 10 fadølshaner hvor udbuddet løbende varieres samt over 100 forskellige flaske øl. <br> Vi fører bl.a. rigtigt mange belgiske kvalitetsøl (heriblandt alle trappist øllene) eller nyd vore egne lokalt bryggede øl, der ikke fås andre steder i hele kongeriget. <br><br> Herudover egen importeret vin, sodavand, drinks, kaffe, te, snack, toasts samt lettere anretninger (f.eks. oste, paté eller italiensk charcuteri tallerken. <br><br>Nyhed - nu også smørrebrød på bagerens "hjemmelavede" rugbrød).
        </p> 
    </div>
    <br>
</div>


<center>
<div class="grid-container-byvandring">
<h1>Byvandring</h1>
    <div class="box one">
        <h2>Booking</h2>
        <p>
            <br>Book jeres helt egen private byvandring – min. 10 personer a 100 kr. (færre kan gøre det, men mindste prisen er 1000 kr.)<br><br>
        </p>
    </div>

    <div class="box two">
        <h2>Turen</h2>
        <p>
            <br>På vores ture besøger man den gamle Apotekerkælder, der er byens største og flottest bevarede kælder. Vi er de eneste, der kan tilbyde besøg i denne fredede store flotte unikke middelalderkælder (vi besøger normalt også et par baggårde i nogle fredede ejendomme, hvor der ikke er offentlig adgang). Vores ture er udover en masse historik om de gamle huse også med farverige historier om gamle familier, bysbørn, politik mm. <br><br> Varighed ca. 1,5t
            
        </p>
        <br><br><br><br>
    </div>

    <div class="box three">
        <h2>Drikkevarer</h2>
        <p>
            <br>
            Inkluderet i prisen er en bitter samt en husøl (eller vand) på RICHTERs Ølstue, hvor alle turene starter og slutter (også her fås lidt historie om den fredede ejendom fra 1644)
            <br><br>
            Vi kan kontaktes på mail RICHTERS@YOUMAIL.DK<br><br>
        </p>
    </div>
    <br>
</div>
</center>

<div class="nyheder-container">
    <center><h1>Nyheder</h1></center>
    <div class="posts-container">
        <section class="posts-list">
            {{ range .Paginator.Pages }}
            <article class="single-post border-bottom pb-4">
                <h2 class="entry-title mb-4">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>

                <div class="post-meta mb-4">
                    <span class="post-author"> Slået op af: {{ .Params.author }} |</span>
                    <span class="post-date">
                        <time>{{ dateFormat .Site.Params.dateFormat .Date }} |</time>
                    </span>
                    <span class="post-tags">
                        Tags:
                        {{ range (.GetTerms "tags") }}
                            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </span>
                </div>
                <div class="entry-content">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .RelPermalink }}">Læs mere...</a>
                    {{ end }}
                </div>
            </article>
            {{ end }}
            <div class="pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
        
        </section>
    </div>
</div>

<center>
<div class="slideshow-container">
    
    <center><h1>Galleri</h1></center>

    <div class="slideshow-wrapper">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <center><img class="gallery-images" src="/images/gallery-img1.jpg"></center>
            <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <center><img class="gallery-images" src="/images/gallery-img2.jpg"></center>
            <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <center><img class="gallery-images" src="/images/gallery-img3.jpg"></center>
            <div class="text">Caption Three</div>
        </div>
        
        <br>
        
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
    </div>
</div>
<center>


<div class="åbningstider-container">
    <h1>Åbningstider</h1>
    <h2>
    Mandag: 11:00 - 19:00  <br>
    Tirsdag: 11:00 - 19:00 <br>
    Onsdag: 11:00 - 19:00 <br>
    Torsdag: 11:00 - 19:00 <br>
    Fredag: 11:00 - 19:00 <br>
  
    Lørdag: 11:00 - 17:00 <br><br>
    1. søndag i måneden: <br> 12:00 - 16:00 <br>
  </h2>
</div>
</center>

</main>

<div class="push"></div>

</div>

<footer>
    <div class="footer">
  
        <div class="mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">Richters@youmail.dk</text>
            <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
        </div>
  
        <div class="copyright-container">
            <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
            <text class="footer-btn2">2023 Richters Gård Køge ApS. Alle rettigheder forbeholdes</text-class>
        </div>
  
        <div class="some-container">
            <a href="https://www.facebook.com/stationspladsen" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
            <a href="https://www.instagram.com/cafestationspladsen/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
        </div>
    </div>
</footer>
</body>


<script>
    $(window).resize(function () {
        var viewportWidth = $(window).width();
        if (viewportWidth < 1300) {
        $(".topnav").removeClass("fixed");
        }
    });
</script>
  
<script>
    $(window).scroll(function(){
        if($(window).width() > 1300) {
        if($(window).scrollTop() >765) {
        $('.topnav').addClass("fixed");
        }
        else{
        $('.topnav').removeClass("fixed");
        }
        }
    });
</script>

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>
    

</html>