{{ define "main" }}
<div class="events-container">
    <center><h1>Events</h1></center>
    <div class="posts-container">
        <section class="posts-list">
            {{ range .Paginator.Pages }}
            <article class="single-post border-bottom pb-4">

                <center><h2 class="entry-title mb-4"></center>
                    {{ .Title }}
                </h2>
                <div class="entry-content">
                    {{ .Content }}
            </article>
            {{ end }}
        </section>
    </div>
</div>
{{ end }}
