{{ define "main" }}

<head>
    <link rel="stylesheet" href="/css/events.css">
</head>


<div class="events-container">

    <h1 class="arrangementer-header">Events</h1>

    <div class="posts-container">
        <section class="posts-list">
            {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
            {{ range $paginator.Pages }}
            <article class="single-post border-bottom pb-4">


                <h2 class="entry-title mb-4">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>


                <div class="entry-content">
                    {{ .Content }}
                    <a href="{{ .Permalink }}">Læs mere</a> 
                </div>

              

                <div class="post-meta">
                    <span class="post-date">
                        <time><b>Slået op:</b> {{ dateFormat .Site.Params.dateFormat .Date }}</time>
                    </span>
                </div>
            </article>
            {{ end }}
            <div class="pagination pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
        </section>
    </div>
</div>

{{ end }}