{{ define "main" }}
<center><img id="menukort" img src="/images/menukort.jpg"></center>

<style>
#menukort {
    margin-top: 50px;
    height: 80vw;
    width: 50%;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: 0px 5px 10px 1px rgb(0, 0, 0);
}

.topnav-button4 a:link, .topnav-button4 a:visited {
    color: #f2af47;
  }

  .topnav-button4 a:hover {
    color: #ffffff;
  }


@media screen and (max-width: 1300px) {
    #menukort {
    height: 160vw;
    width: 80%;
    }
}
</style>
{{ end }}